schemas/BankruptcySearchV2_0PollRequestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://poll.bankruptcyv2_0.ws.bg.lr.gov/"  
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="BankruptcySearchV2_0PollRequestWebService"
	targetNamespace="http://poll.bankruptcyv2_0.ws.bg.lr.gov/">
	<types>
	<xsd:schema targetNamespace="http://poll.bankruptcyv2_0.ws.bg.lr.gov/" 
		xmlns:ns3="http://poll.bankruptcyv2_0.ws.bg.lr.gov/" 
		xmlns:ns1="http://www.oscre.org/ns/eReg/MR01-20090605/PollRequest" 
		xmlns:ns2="http://www.oscre.org/ns/eReg-Final/2011/ResponseLandChargesBankruptcySearchV2_0">
			<xsd:import
				namespace="http://www.oscre.org/ns/eReg/MR01-20090605/PollRequest"
		        schemaLocation="PollRequest.xsd" />
			<xsd:import
				namespace="http://www.oscre.org/ns/eReg-Final/2011/ResponseLandChargesBankruptcySearchV2_0"
				schemaLocation="ResponseLandChargesBankruptcySearchV2_0.xsd" />
		        <xsd:element name="SOAPEngineSystemException" nillable="true" type="xsd:string"/>
				<xsd:element name="getResponse" type="ns3:getResponse"/>
				<xsd:element name="getResponseResponse" type="ns3:getResponseResponse"/>
				<xsd:complexType name="getResponse">
				    <xsd:sequence>
					     <xsd:element name="arg0" type="ns1:PollRequestType" minOccurs="0"/>
				    </xsd:sequence>
				</xsd:complexType>
				<xsd:complexType name="getResponseResponse">
					<xsd:sequence>
					     <xsd:element name="return" type="ns2:ResponseLandChargesBankruptcySearchV2_0Type" minOccurs="0"/>
				    </xsd:sequence>
				 </xsd:complexType>
  	 	</xsd:schema>
	</types>
	<message name="bankruptcySearchPollRequest">
		<part element="tns:getResponse" name="parameters"/>
	</message>
	<message name="bankruptcySearchPollResponse">
		<part element="tns:getResponseResponse" name="parameters" />
	</message>
	
	<message name="SOAPEngineSystemException">
		<part name="fault" element="tns:SOAPEngineSystemException" />
  	</message>

	<portType name="BankruptcySearchV2_0PollService">
		<operation name="getResponse">
			<input message="tns:bankruptcySearchPollRequest" />
			<output message="tns:bankruptcySearchPollResponse" />
			<fault message="tns:SOAPEngineSystemException" name="SOAPEngineSystemException"/>
		</operation>
	</portType>

	<binding name="BankruptcySearchV2_0PollRequestWSImplPortBinding"
		type="tns:BankruptcySearchV2_0PollService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getResponse">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="SOAPEngineSystemException">
		        <soap:fault name="SOAPEngineSystemException" use="literal"/>
		     </fault>
		</operation>
	</binding>
			
	<service name="BankruptcySearchV2_0PollRequestWebService">
		<port binding="tns:BankruptcySearchV2_0PollRequestWSImplPortBinding"
			name="BankruptcySearchV2_0PollRequestWSImplPort">
			<soap:address
				location="http://localhost:9086/BGSoapEngine/BankruptcySearchV2_0PollRequestWebService" />
		</port>
	</service>
		
</definitions>
